[submodule "gobase"]
	path = gobase
	url = git@github.com:sterlingdevils/gobase.git
[submodule "pipelines"]
	path = pipelines
	url = git@github.com:sterlingdevils/pipelines.git
[submodule "sdTester"]
	path = sdTester
	url = git@github.com:sterlingdevils/sdTester.git
